.main_tags{
    margin-top: 20px;
    color: #000;
    p{

        color: #000;
        font-weight: 900;
    }
    b{
        background-color: #ffffff8c;
    }
    a{
        padding: 2px 4px;
        margin: 0 3px;
        border-radius: 10px;
        text-decoration: none;
        color: #ffffff;
    }
}