.header__text-box {
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary{
    color: #fff;
    margin-bottom: 60px;

    &__main{
        display: block;
        font-size: 8.5rem;
        letter-spacing: 1rem;
        font-weight: 400;
        text-align: right;
        animation: moveInLeft 1s;
        margin-bottom: 4.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.767);
    font-family: 'B Elm';  
    }
    &__sub{
        text-align: center;
        display: block;
        font-size: 2rem;
        font-weight: 400;
        animation: moveInRight 1.5s;
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }
    
}

.mybtn{


    &:link,&:visited{
        text-decoration: none;
        padding: 10px 40px;
        border-radius: 20px;
        display: inline-block;
        transition: all .2s;
        
    }
    &-white{
        background-color: #ffffffc2;
        color: #777;
        font-weight: 700;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
        background-color: #ffffff;
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    }

    .text-bold{
        font-weight: 900;
        color: #81b214
    }
