.user-profile{
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    padding-bottom:2rem;
    display: flex;
    flex-direction: row;

    &__image {
        
        img{
            width:10rem;
            border-radius: 50%;
        }
    }
    
    &__detail{
        flex: 1;
        padding-top:.5rem;
        padding-right: 1.5rem;
        text-align: right;
        color: #717171;
        position: relative;
        h3{
            font-size: 21px;
            font-weight: 900;
        }
        h6{
            font-size: 18px;
        }
    }

    .edit-btn{
        border: none;
        color: black;
        background-color: #f8df00;
        border-radius: 20px;
        height: 2.5rem;
        width: 9rem;
    }

    .flw-btn{
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        color: white;
        background-color: #ff4382;
        border-radius: 20px;
        height: 2.5rem;
        width: 9rem;
    }
}

.follow-btn{
    position: absolute;
    font-size: 18px;
    top: 4px;
    right: 150px;
    color: #ffffff;
    border: 2px solid #0095f6;
    background-color: #0095f6;
    border-radius: 10px;
    width: 200px;
    line-height: 18px;
    height: 30px;

    &:hover{
        background-color:#fff ;
        color:  #0095f6;
    }}