.photodetail{
    position: fixed;
    top: 5.5rem;
    right: 0rem;
    height: 100px;
    width: 100%;
    box-shadow: -3px 0px 10px 1px rgb(129, 129, 129);
    background-color: rgb(255, 255, 255);
    &__photographer{
        position: relative;

        &-img{
            width: 60px;
            height: 60px;
        }
    }

}